{% extends 'base/base.html' %}
{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h2 class="mb-0">Регистрация</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100 mt-3">Зарегистрироваться</button>
                </form>
                <div class="mt-3 text-center">
                    <small>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}